<h1>Order: #<%= @order.id %></h1>

<p>You ordered <%= @order.products.count %> products:</p>

<ul>
  <% @order.products.each do |product| %>
    <li><%= product.title %> - <%= @order.placements.find_by(product_id: product.id).quantity %> - <%= number_to_currency product.price %></li>
  <% end %>
</ul>

<p>Your order total is <%= number_to_currency @order.total %> </p>
